body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('background.jpg');
}
#drum-kit {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    min-height: 20%;
}
.drum {
    border: solid 5px black;
    margin: 0.75%;
    min-width: 15vh;
    min-height: 15vh;
    text-align: center;
}
kbd {
    margin: auto;
    color: white;
}
span {
    color: yellow;
    text-transform: uppercase;
}