body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#drum-kit {
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
    min-width: 90%;
    min-height: 25%;
}
.drum {
    border: solid 2px red;
    padding: 5%;
    margin: 1.5%;
    /* min-width: 50%; */
    /* min-height: 50%; */
}